/**
 * @file
 */

/**
 * Singularity 1.4.1
 * Singularity is a next generation grid framework built from the ground up to be responsive.
 */
@import '../node_modules/singularitygs/stylesheets/singularitygs';

/**
 * Breakpoint 2.7.1
 * Breakpoint is a first-of-its-kind media query engine built to harness the power of Sass and Compass.
 */
@import '../node_modules/breakpoint-sass/stylesheets/breakpoint';

/*
 * Media queries
 */
$large: 781px;
$medium: 541px 780px;
$small: max-width 540px;

/**
 * Custom Stylesheets
 */
@import 'partials/globals/globals';
@import 'partials/layout/layout';
@import 'partials/typography/typography';
@import 'partials/components/components';
@import 'partials/forms/forms';
@import 'partials/navigation/navigation';
@import 'partials/multimedia/multimedia';

